/* Main styles */
html {
	box-sizing: border-box;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}

:root {
	--white-color: #fff;
	--dark-color: #2e2f42;
	--iris-color: #4d5ae5;
	--ocean-color: #404bbf;
	--accent-color: #e7e9fc;
	--cloud-color: #f4f4fd;
	--success-color: #31d0aa;
	--text-color: #434455;
	--subtitle-color: #8e8f99;
	--modal-overlay-color: #2e2f42;
	--hero-bkg-color: #2e2f42;
	--modal-bkg-color: #fcfcfc;
}
body {
	margin: 0;
	padding: 0;
	background-color: var(--white-color);

	font-family: Roboto, sans-serif;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.32px;
	color: var(--text-color);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
}
.is-hidden {
	margin: 0;
	padding: 0;
	opacity: 0;
	visibility: hidden;
	position: absolute;
}
a {
	text-decoration: none;
	margin: 0;
	padding: 0;
}
ul,
ol {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.link {
	font-size: 12px;
	line-height: 16px;
	letter-spacing: 0.64px;
}
.section-title {
	margin-bottom: 80px;
	font-size: 36px;
	font-weight: 700;
	text-align: center;
	color: var(--dark-color);
}
.subtitle {
	font-size: 20px;
	font-weight: 600;
	color: var(--dark-color);
}
.medium {
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
}
.text-dark {
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.32px;
	color: var(--text-color);
	font-style: normal;
}
.text-light {
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.32px;
	color: var(--cloud-color);
}
.container {
	max-width: 1160px;
	margin: 0 auto;
	padding: 0 15px;
}
