:root {
	--white-color: #fff;
	--dark-color: #2e2f42;
	--iris-color: #4d5ae5;
	--ocean-color: #404bbf;
	--accent-color: #e7e9fc;
	--cloud-color: #f4f4fd;
	--success-color: #31d0aa;
	--text-color: #434455;
	--subtitle-color: #8e8f99;
	--modal-overlay-color: #2e2f42;
	--hero-bkg-color: #2e2f42;
	--modal-bkg-color: #fcfcfc;
}
body {
	margin: 0;
	padding: 0;
	background-color: var(--white-color);

	font-family: Roboto, sans-serif;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.32px;
	color: var(--text-color);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
}
.is-hidden {
	margin: 0;
	padding: 0;
	opacity: 0;
	visibility: hidden;
	position: absolute;
}
a {
	text-decoration: none;
	margin: 0;
	padding: 0;
}
ul,
ol {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.link {
	font-size: 12px;
	line-height: 16px;
	letter-spacing: 0.64px;
}
.section-title {
	font-size: 36px;
	font-weight: 700;
	text-align: center;
	color: var(--dark-color);
}
.subtitle {
	font-size: 20px;
	font-weight: 600;
	color: var(--dark-color);
}
.medium {
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
}
.text-dark {
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.32px;
	color: var(--text-color);
	font-style: normal;
}
.text-light {
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.32px;
	color: var(--cloud-color);
}

.header,
.nav,
.address-list {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/* Logo */
.logo {
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	display: inline-block;
	transition: transform 0.3s ease-in-out;
}

.logo:hover {
	transform: scale(1.1);
}
.logo-primary {
	color: var(--iris-color);
}
.logo-light {
	color: var(--cloud-color);
}
.logo-dark {
	color: var(--dark-color);
}
/* Navigation */
.nav-list {
	display: flex;
}
.nav-link {
	color: var(--dark-color);
}
.nav-item > .link:hover,
.nav-item > .link:focus {
	color: var(--ocean-color);
}

/* Address */
.address-item a:hover,
.address-item a:focus {
	color: var(--ocean-color);
}

/* Footer */
.footer {
	display: flex;
	background-color: var(--dark-color);
	color: var(--cloud-color);
}
.footer > logo-item-2 {
	color: var(--cloud-color);
}
.footer-logo {
	width: 264px;
}
