/* Header */
.header,
.nav,
.address-list {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.header {
	padding: 29px 0;
}

/* Logo */
.logo {
	margin-right: 77px;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	display: inline-block;
	transition: transform 0.3s ease-in-out;
}

.logo:hover {
	transform: scale(1.1);
}
.logo-primary {
	color: var(--iris-color);
}
.logo-light {
	color: var(--cloud-color);
}
.logo-dark {
	color: var(--dark-color);
}
/* Navigation */
.nav-list {
	display: flex;
	margin-right: 330px;
}
.nav-link {
	color: var(--dark-color);
}
.nav-item > .link:hover,
.nav-item > .link:focus {
	color: var(--ocean-color);
}
.nav-item:not(:last-child) {
	margin-right: 42px;
}

/* Address */
.address-item:first-child {
	margin-right: 42px;
}

.address-item a:hover,
.address-item a:focus {
	color: var(--ocean-color);
}

/* Hero */
.hero {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 600px;
	text-align: center;

	background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bkg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
.hero-title {
	text-align: center;
	font-weight: 700;
	font-size: 56px;
	line-height: 60px;
	color: var(--white-color);

	margin-bottom: 60px;
}

.btn {
	display: inline-block;
	padding: 21px 32px;
	min-width: 170px;

	background-color: var(--iris-color);
	color: var(--white-color);
	font-weight: 500;
	letter-spacing: 0.64px;
	text-decoration: none;
	border-radius: 4px;
	cursor: pointer;
}
.btn:hover,
.btn:focus {
	background-color: var(--ocean-color);
}

/* Advantages */
.advantages {
	padding: 120px 0;
}
.advantages-list {
	display: flex;
}
.advantages-img {
	padding: 30px 98px;
	margin-bottom: 13px;
	background-color: var(--cloud-color);
	border: 1px solid var(--subtitle-color);
	border-radius: 4px;
}
.advantages-list .item + .item {
	margin-left: 24px;
}
/* Team */
.team {
	padding: 120px 0;
	background-color: var(--cloud-color);
}
.team-list {
	display: flex;
}
.team-list .item + .item {
	margin-left: 24px;
}
.team-list .item {
	border-radius: 0px 0px 4px 4px;
	background-color: var(--white-color);
	text-align: center;
	box-shadow: 0 1px 6px rgba(46, 47, 66, 0.08);
}
.team-list .item:hover {
	box-shadow: 0 1px 6px rgba(46, 47, 66, 0.16);
}
.team-list .content {
	padding: 32px 16px;
}

/* Portfolio */
.portfolio {
	padding: 120px 0;
}

.portfolio-list {
	display: flex;
	flex-wrap: wrap;
	margin: -12px;
}
.portfolio-list .item {
	width: 360px;
	margin: 12px;

	border: 1px solid var(--cloud-color);
	cursor: pointer;
}
.portfolio-list .item:hover {
	box-shadow: 0 1px 6px rgba(46, 47, 66, 0.08);
}

.portfolio-content {
	padding: 32px 16px;
}
.text-light {
	padding: 40px 32px;
}
/* Footer */
.footer {
	/* display: flex; */
	padding: 100px 0;
	background-color: var(--dark-color);
	color: var(--cloud-color);
}
.footer > logo-item-2 {
	color: var(--cloud-color);
}
.footer-logo {
	width: 264px;
}
